body {
  font-family: "Roboto", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  background-color: #f6f6ee;
}

ul {
  margin: 5px;
  padding: 5px;
}

img {
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  color: #428bca;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

p {
  margin: 0;
}

#section1 {
  position: relative;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  width: 40%;
  height: 500px;
}

#section2 {
  top: -77px;
  position: relative;
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  width: 40%;
  height: 500px;
}

li {
  list-style-type: none;
}

article {
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}

h1 {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.1;
  border-bottom: solid 1px grey;
  text-align: left;
  padding: 3px 30px;
}

h2 {
  font-weight: 400;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #c2c2a3;
  width: 100%;
  height: 10%;
  padding: 10px;
}

header {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: #c2c2a3;
  width: 100%;
  height: 5%;
  padding: 10px;
}
